.side-drawer {
    /* height: 100%;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200; */

    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 100;
    /* top: 60px;
    left: 0px; */
    background-color: white;
    overflow-x: hidden;
    /* padding: 8px 0; */
    display: block;
    flex: 1;

}

.side-drawer a {
    /* height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    position: fixed; */

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    overflow-x: hidden;
 
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .side-drawer {padding-top: 15px;}
    .side-drawer a {font-size: 18px;}
}