.side-drawer {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 55px;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}  

#address {
    position: relative;
    width: 70%;
}