
.header-wrapper {
  margin: 20px;

}

.open-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
  padding-right: 15px;
  display: inline-block;
}

h1 {
  text-align: center;
  margin: 10px;
}

.open-btn:hover,
.open-btn:focus {
    color: #3397db;
    text-decoration: none;
}

@media (max-width: 600px) {
   h1 {
    font-size: 20px;
    margin: 20px;
  }
  .open-btn {
    top: 20px;
  }
}