

/*-------- Accessibility ---------*/

*:focus {
  outline: 0;
  box-shadow: 0 0 10px #EB0486;
  border-color: #EB0486;
}

a:focus {
  font-weight: bold;
}

* {
	box-sizing: border-box;
	padding: 0;
  margin: 0;

  
}

html, body {
  height: 100%;
  background-color: rgb(0, 191, 255);

}


.icon-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
} 


/* ------- MEDIA QUERIES --------- */

@media screen and (min-width: 400px) {
  /* <<<<<<<<<<<<<< MAP >>>>>>>>>>>>> */
  #quote {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  #sidebar-list {
    height: 433px;    /* Set height */
  }
}


@media screen and (min-width: 650px) {
  .header-footer {
    font-size: 18px;  
  }
  .nav-menu {
    font-size: 32px;
  }
}

@media screen and (min-width: 400px and min-height:650px) {
  #sidebar-list {
    height: 500px;    /* Set height */
  }
}

@media screen and (min-height:750px) {
  #sidebar-list {
    height: 490px;    /* Set height */
  }
  .sidebar-filter {
    display: block;
    width: 180px; /* Set width */
    height: 35px; /* Set height */
  } 
}

@media screen and (max-width:330px) {
  .header-title {
    font-size: 40px;
  }
  #sidebar-list {
    height: 295px;    /* Set height */
  }
}

@media screen and (min-height:1024px;) {
  #sidebar-list {
    height: 500px;    /* Set height */
  }
  .sidebar-filter {
    display: block;
    width: 180px; /* Set width */
    height: 35px; /* Set height */
  }
}